// ==UserScript==
// @name         RFD Enhancement Suite
// @author       Dave Gallant
// @description  Strip redirect links on forums.redflagdeals.com
// @downloadURL  https://raw.githubusercontent.com/davegallant/rfd-enhancement-suite/main/script.js
// @grant        none
// @match        *://forums.redflagdeals.com/*
// @namespace    http://tampermonkey.net/
// @updateURL    https://raw.githubusercontent.com/davegallant/rfd-enhancement-suite/main/script.js
// @version      {{ (time.Now).Format "2006-01-02" }}
// ==/UserScript==

(function() {
    'use strict';

    var Links = document.querySelectorAll('a.postlink, a.autolinker_link');

    const REDIRECT_REGEX = {{ file.Read "redirects.json" }};

    {{ file.Read "js/stripRedirect.js" }}

    Links.forEach(function(Link) {
        var ReferralURL = Link.href;
        Link.href = stripRedirect(ReferralURL, REDIRECT_REGEX);
    });

})();
